body{
    background-color: #F8EDE3;
  }

  hr{
    border-color: white;
    border-style: none;
    height: 2px;
  }

  .work{
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 5%;
  }

  h1{
    color: #66BFBF;
  }

  h2{
    color: #66BFBF;
  }